{"openapi":"3.1.0","info":{"title":"vergesense-api","version":"2021-03-29"},"servers":[{"url":"https://api.vergesense.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"vs-api-key","x-default":""}}},"security":[{"sec0":[]}],"paths":{"/metrics/hourly/spaces":{"get":{"summary":"/metrics/hourly/spaces","description":"Hourly metrics for spaces","operationId":"metrics_hourly_spaces","parameters":[{"name":"sort","in":"query","description":"Comma separated list of attributes used to sort the collection. Use a negative(-) sign to reverse the order.","schema":{"type":"string","default":"-space_id,-local_date,-local_hour"}},{"name":"fields[metrics_hourly_space]","in":"query","description":"Limit attributes that are included in a request. Comma separated list of attributes.","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number for pagination.","schema":{"type":"integer","format":"int32","default":1}},{"name":"page[size]","in":"query","description":"Amount of records to return per page. Limit is 1000.","schema":{"type":"integer","format":"int32","default":250}},{"name":"filter[space_type.key]","in":"query","description":"Filter metrics based on its associated space type's key.","schema":{"type":"string"}},{"name":"filter[space_type.name]","in":"query","description":"Filter metrics based on its associated space type's name.","schema":{"type":"string"}},{"name":"filter[building_ref_id]","in":"query","description":"Filter metrics based on its associated space's building_ref_id.","schema":{"type":"string"}},{"name":"filter[floor_ref_id]","in":"query","description":"Filter metrics based on its associated space's floor_ref_id.","schema":{"type":"string"}},{"name":"filter[space_ref_id]","in":"query","description":"Filter metrics based on its associated space's space_ref_id.","schema":{"type":"string"}},{"name":"filter[local_date][gte]","in":"query","description":"Filter metrics where local_date is greater than or equal to value.","schema":{"type":"string","format":"date","example":"2020-11-01"},"example":"2020-11-01"},{"name":"filter[local_date][lte]","in":"query","description":"Filter metrics where local_date is less than or equal to value.","schema":{"type":"string","format":"date"}},{"name":"filter[local_hour][gte]","in":"query","description":"Number between 0-23. Filter metrics where local_hour is greater than or equal to value.","schema":{"type":"integer","format":"int32","example":8},"example":8},{"name":"filter[local_hour][lte]","in":"query","description":"Number between 0-23. Filter metrics where local_hour is less than or equal to value.","schema":{"type":"integer","format":"int32","example":16},"example":16}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"id\": \"1\",\n            \"type\": \"metrics_hourly_space\",\n            \"attributes\": {\n                \"local_date\": \"2021-11-01\",\n                \"local_hour\": 8,\n                \"capacity\": 25,\n                \"avg_person_count\": \"0.5\",\n                \"min_person_count\": 0,\n                \"max_person_count\": 25,\n                \"minutes_actively_occupied\": \"21.6\",\n                \"minutes_passively_occupied\": null,\n                \"avg_pct_utilization\": 0.04,\n                \"min_pct_utilization\": 0.0,\n                \"max_pct_utilization\": 2.0,\n                \"pct_time_actively_occupied\": \"0.36\",\n                \"pct_time_passively_occupied\": null\n            },\n            \"relationships\": {\n                \"space\": {\n                    \"data\": {\n                        \"id\": \"1\",\n                        \"type\": \"space\"\n                    }\n                }\n            }\n        }\n    ],\n    \"included\": [\n        {\n            \"id\": \"1\",\n            \"type\": \"space\",\n            \"attributes\": {\n                \"name\": \"Conference Room 1\",\n                \"space_ref_id\": \"conference_room_1\",\n                \"building_ref_id\": \"building_1\",\n                \"floor_ref_id\": \"floor_1\",\n            },\n            \"relationships\": {\n                \"space_type\": {\n                    \"data\": {\n                        \"id\": \"3\",\n                        \"type\": \"space_type\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"3\",\n            \"type\": \"space_type\",\n            \"attributes\": {\n                \"name\": \"Conference Room\",\n                \"key\": \"conference_room\"\n            }\n        }\n    ],\n    \"links\": {\n        \"next\": \"/metrics/hourly/spaces?filter[local_date][gte]=2020-11-01&filter[local_hour][gte]=8&filter[local_hour][lte]=16&page[number]=2&page[size]=0&sort=-local_date,local_hour\",\n        \"prev\": null\n    }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": [\n        {\n            \"status\": \"400\",\n            \"source\": {\n                \"parameter\": \"filter[local_date]\"\n            },\n            \"title\": \"Invalid Parameter\",\n            \"detail\": \"Invalid Date\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"400"},"source":{"type":"object","properties":{"parameter":{"type":"string","example":"filter[local_date]"}}},"title":{"type":"string","example":"Invalid Parameter"},"detail":{"type":"string","example":"Invalid Date"}}}}}}}}}},"deprecated":false}},"/metrics/hourly/floors":{"get":{"summary":"/metrics/hourly/floors","description":"Hourly metrics for floors","operationId":"metrics_hourly_floors","parameters":[{"name":"sort","in":"query","description":"Comma separated list of attributes used to sort the collection. Use a negative(-) sign to reverse the order.","schema":{"type":"string","default":"-floor_id,-local_date,-local_hour"}},{"name":"fields[metrics_hourly_space]","in":"query","description":"Limit attributes that are included in a request. Comma separated list of attributes.","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number for pagination.","schema":{"type":"integer","format":"int32","default":1}},{"name":"page[size]","in":"query","description":"Amount of records to return per page. Limit is 1000.","schema":{"type":"integer","format":"int32","default":250}},{"name":"filter[building_ref_id]","in":"query","description":"Filter metrics based on its associated space's building_ref_id.","schema":{"type":"string"}},{"name":"filter[floor_ref_id]","in":"query","description":"Filter metrics based on its associated space's floor_ref_id.","schema":{"type":"string"}},{"name":"filter[local_date][gte]","in":"query","description":"Filter metrics where local_date is greater than or equal to value.","schema":{"type":"string","format":"date","example":"2020-11-01"},"example":"2020-11-01"},{"name":"filter[local_date][lte]","in":"query","description":"Filter metrics where local_date is less than or equal to value.","schema":{"type":"string","format":"date"}},{"name":"filter[local_hour][gte]","in":"query","description":"Number between 0-23. Filter metrics where local_hour is greater than or equal to value.","schema":{"type":"integer","format":"int32","example":8},"example":8},{"name":"filter[local_hour][lte]","in":"query","description":"Number between 0-23. Filter metrics where local_hour is less than or equal to value.","schema":{"type":"integer","format":"int32","example":16},"example":16}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"id\": \"16541760\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 17,\n                \"capacity\": 150,\n                \"avg_person_count\": \"29.0\",\n                \"avg_occupied_person_count\": \"29.0\",\n                \"min_person_count\": 28,\n                \"max_person_count\": 90,\n                \"minutes_actively_occupied\": \"26.0\",\n                \"minutes_passively_occupied\": \"11.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16540025\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 16,\n                \"capacity\": 150,\n                \"avg_person_count\": \"71.0\",\n                \"avg_occupied_person_count\": \"71.0\",\n                \"min_person_count\": 20,\n                \"max_person_count\": 85,\n                \"minutes_actively_occupied\": \"42.0\",\n                \"minutes_passively_occupied\": \"6.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16538284\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 15,\n                \"capacity\": 150,\n                \"avg_person_count\": \"72.0\",\n                \"avg_occupied_person_count\": \"72.0\",\n                \"min_person_count\": 47,\n                \"max_person_count\": 101,\n                \"minutes_actively_occupied\": \"41.0\",\n                \"minutes_passively_occupied\": \"0.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16536494\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 14,\n                \"capacity\": 150,\n                \"avg_person_count\": \"73.0\",\n                \"avg_occupied_person_count\": \"73.0\",\n                \"min_person_count\": 25,\n                \"max_person_count\": 120,\n                \"minutes_actively_occupied\": \"22.0\",\n                \"minutes_passively_occupied\": \"5.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16534720\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 13,\n                \"capacity\": 150,\n                \"avg_person_count\": \"43.0\",\n                \"avg_occupied_person_count\": \"43.0\",\n                \"min_person_count\": 8,\n                \"max_person_count\": 142,\n                \"minutes_actively_occupied\": \"36.0\",\n                \"minutes_passively_occupied\": \"12.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16531087\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 12,\n                \"capacity\": 150,\n                \"avg_person_count\": \"22.0\",\n                \"avg_occupied_person_count\": \"22.0\",\n                \"min_person_count\": 17,\n                \"max_person_count\": 28,\n                \"minutes_actively_occupied\": \"24.0\",\n                \"minutes_passively_occupied\": \"3.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16529236\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 11,\n                \"capacity\": 150,\n                \"avg_person_count\": \"78.0\",\n                \"avg_occupied_person_count\": \"78.0\",\n                \"min_person_count\": 13,\n                \"max_person_count\": 148,\n                \"minutes_actively_occupied\": \"6.0\",\n                \"minutes_passively_occupied\": \"14.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16527348\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 10,\n                \"capacity\": 150,\n                \"avg_person_count\": \"60.0\",\n                \"avg_occupied_person_count\": \"60.0\",\n                \"min_person_count\": 47,\n                \"max_person_count\": 68,\n                \"minutes_actively_occupied\": \"19.0\",\n                \"minutes_passively_occupied\": \"8.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16525451\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 9,\n                \"capacity\": 150,\n                \"avg_person_count\": \"31.0\",\n                \"avg_occupied_person_count\": \"31.0\",\n                \"min_person_count\": 0,\n                \"max_person_count\": 57,\n                \"minutes_actively_occupied\": \"0.0\",\n                \"minutes_passively_occupied\": \"1.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16523573\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 8,\n                \"capacity\": 150,\n                \"avg_person_count\": \"77.0\",\n                \"avg_occupied_person_count\": \"77.0\",\n                \"min_person_count\": 23,\n                \"max_person_count\": 86,\n                \"minutes_actively_occupied\": \"12.0\",\n                \"minutes_passively_occupied\": \"34.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609070\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16541763\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 17,\n                \"capacity\": 80,\n                \"avg_person_count\": \"27.0\",\n                \"avg_occupied_person_count\": \"27.0\",\n                \"min_person_count\": 16,\n                \"max_person_count\": 53,\n                \"minutes_actively_occupied\": \"26.0\",\n                \"minutes_passively_occupied\": \"21.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16540024\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 16,\n                \"capacity\": 80,\n                \"avg_person_count\": \"25.0\",\n                \"avg_occupied_person_count\": \"25.0\",\n                \"min_person_count\": 17,\n                \"max_person_count\": 41,\n                \"minutes_actively_occupied\": \"26.0\",\n                \"minutes_passively_occupied\": \"2.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16538286\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 15,\n                \"capacity\": 80,\n                \"avg_person_count\": \"15.0\",\n                \"avg_occupied_person_count\": \"15.0\",\n                \"min_person_count\": 0,\n                \"max_person_count\": 23,\n                \"minutes_actively_occupied\": \"14.0\",\n                \"minutes_passively_occupied\": \"3.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16536497\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 14,\n                \"capacity\": 80,\n                \"avg_person_count\": \"8.0\",\n                \"avg_occupied_person_count\": \"8.0\",\n                \"min_person_count\": 0,\n                \"max_person_count\": 58,\n                \"minutes_actively_occupied\": \"12.0\",\n                \"minutes_passively_occupied\": \"23.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16534698\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 13,\n                \"capacity\": 80,\n                \"avg_person_count\": \"48.0\",\n                \"avg_occupied_person_count\": \"48.0\",\n                \"min_person_count\": 24,\n                \"max_person_count\": 79,\n                \"minutes_actively_occupied\": \"26.0\",\n                \"minutes_passively_occupied\": \"3.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16531091\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 12,\n                \"capacity\": 80,\n                \"avg_person_count\": \"32.0\",\n                \"avg_occupied_person_count\": \"32.0\",\n                \"min_person_count\": 0,\n                \"max_person_count\": 80,\n                \"minutes_actively_occupied\": \"14.0\",\n                \"minutes_passively_occupied\": \"9.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16529237\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 11,\n                \"capacity\": 80,\n                \"avg_person_count\": \"66.0\",\n                \"avg_occupied_person_count\": \"66.0\",\n                \"min_person_count\": 9,\n                \"max_person_count\": 73,\n                \"minutes_actively_occupied\": \"0.0\",\n                \"minutes_passively_occupied\": \"4.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16527349\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 10,\n                \"capacity\": 80,\n                \"avg_person_count\": \"13.0\",\n                \"avg_occupied_person_count\": \"13.0\",\n                \"min_person_count\": 9,\n                \"max_person_count\": 48,\n                \"minutes_actively_occupied\": \"26.0\",\n                \"minutes_passively_occupied\": \"4.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16525454\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 9,\n                \"capacity\": 80,\n                \"avg_person_count\": \"6.0\",\n                \"avg_occupied_person_count\": \"6.0\",\n                \"min_person_count\": 4,\n                \"max_person_count\": 53,\n                \"minutes_actively_occupied\": \"28.0\",\n                \"minutes_passively_occupied\": \"1.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16523551\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 8,\n                \"capacity\": 80,\n                \"avg_person_count\": \"7.0\",\n                \"avg_occupied_person_count\": \"7.0\",\n                \"min_person_count\": 0,\n                \"max_person_count\": 17,\n                \"minutes_actively_occupied\": \"6.0\",\n                \"minutes_passively_occupied\": \"20.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609069\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16541761\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 17,\n                \"capacity\": 125,\n                \"avg_person_count\": \"80.0\",\n                \"avg_occupied_person_count\": \"80.0\",\n                \"min_person_count\": 18,\n                \"max_person_count\": 104,\n                \"minutes_actively_occupied\": \"43.0\",\n                \"minutes_passively_occupied\": \"7.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16540026\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 16,\n                \"capacity\": 125,\n                \"avg_person_count\": \"39.0\",\n                \"avg_occupied_person_count\": \"39.0\",\n                \"min_person_count\": 25,\n                \"max_person_count\": 50,\n                \"minutes_actively_occupied\": \"17.0\",\n                \"minutes_passively_occupied\": \"17.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16538266\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 15,\n                \"capacity\": 125,\n                \"avg_person_count\": \"24.0\",\n                \"avg_occupied_person_count\": \"24.0\",\n                \"min_person_count\": 0,\n                \"max_person_count\": 38,\n                \"minutes_actively_occupied\": \"25.0\",\n                \"minutes_passively_occupied\": \"11.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16536488\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 14,\n                \"capacity\": 125,\n                \"avg_person_count\": \"2.0\",\n                \"avg_occupied_person_count\": \"2.0\",\n                \"min_person_count\": 0,\n                \"max_person_count\": 114,\n                \"minutes_actively_occupied\": \"23.0\",\n                \"minutes_passively_occupied\": \"25.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16534707\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 13,\n                \"capacity\": 125,\n                \"avg_person_count\": \"25.0\",\n                \"avg_occupied_person_count\": \"25.0\",\n                \"min_person_count\": 10,\n                \"max_person_count\": 29,\n                \"minutes_actively_occupied\": \"25.0\",\n                \"minutes_passively_occupied\": \"7.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16531089\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 12,\n                \"capacity\": 125,\n                \"avg_person_count\": \"102.0\",\n                \"avg_occupied_person_count\": \"102.0\",\n                \"min_person_count\": 60,\n                \"max_person_count\": 102,\n                \"minutes_actively_occupied\": \"3.0\",\n                \"minutes_passively_occupied\": \"45.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16529235\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 11,\n                \"capacity\": 125,\n                \"avg_person_count\": \"9.0\",\n                \"avg_occupied_person_count\": \"9.0\",\n                \"min_person_count\": 7,\n                \"max_person_count\": 64,\n                \"minutes_actively_occupied\": \"8.0\",\n                \"minutes_passively_occupied\": \"24.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16527350\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 10,\n                \"capacity\": 125,\n                \"avg_person_count\": \"6.0\",\n                \"avg_occupied_person_count\": \"6.0\",\n                \"min_person_count\": 2,\n                \"max_person_count\": 54,\n                \"minutes_actively_occupied\": \"17.0\",\n                \"minutes_passively_occupied\": \"6.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16525450\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 9,\n                \"capacity\": 125,\n                \"avg_person_count\": \"19.0\",\n                \"avg_occupied_person_count\": \"19.0\",\n                \"min_person_count\": 12,\n                \"max_person_count\": 55,\n                \"minutes_actively_occupied\": \"52.0\",\n                \"minutes_passively_occupied\": \"2.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"16523552\",\n            \"type\": \"metrics_hourly_floor\",\n            \"attributes\": {\n                \"local_date\": \"2023-05-16\",\n                \"local_hour\": 8,\n                \"capacity\": 125,\n                \"avg_person_count\": \"88.0\",\n                \"avg_occupied_person_count\": \"88.0\",\n                \"min_person_count\": 26,\n                \"max_person_count\": 116,\n                \"minutes_actively_occupied\": \"15.0\",\n                \"minutes_passively_occupied\": \"8.0\",\n                \"space_count\": 1\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"609068\",\n                        \"type\": \"floor\"\n                    }\n                }\n            }\n        }\n    ],\n    \"included\": [\n        {\n            \"id\": \"609070\",\n            \"type\": \"floor\",\n            \"attributes\": {\n                \"name\": \"Floor 3\",\n                \"floor_ref_id\": \"Floor_3\",\n                \"building_ref_id\": \"Lake_Tahoe_Blvd\"\n            }\n        },\n        {\n            \"id\": \"609069\",\n            \"type\": \"floor\",\n            \"attributes\": {\n                \"name\": \"Floor 2\",\n                \"floor_ref_id\": \"Floor_2\",\n                \"building_ref_id\": \"Lake_Tahoe_Blvd\"\n            }\n        },\n        {\n            \"id\": \"609068\",\n            \"type\": \"floor\",\n            \"attributes\": {\n                \"name\": \"Floor 1\",\n                \"floor_ref_id\": \"Floor_1\",\n                \"building_ref_id\": \"Lake_Tahoe_Blvd\"\n            }\n        }\n    ],\n    \"links\": {\n        \"next\": null,\n        \"prev\": null\n    }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"16541760"},"type":{"type":"string","example":"metrics_hourly_floor"},"attributes":{"type":"object","properties":{"local_date":{"type":"string","example":"2023-05-16"},"local_hour":{"type":"integer","example":17,"default":0},"capacity":{"type":"integer","example":150,"default":0},"avg_person_count":{"type":"string","example":"29.0"},"avg_occupied_person_count":{"type":"string","example":"29.0"},"min_person_count":{"type":"integer","example":28,"default":0},"max_person_count":{"type":"integer","example":90,"default":0},"minutes_actively_occupied":{"type":"string","example":"26.0"},"minutes_passively_occupied":{"type":"string","example":"11.0"},"space_count":{"type":"integer","example":1,"default":0}}},"relationships":{"type":"object","properties":{"floor":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"609070"},"type":{"type":"string","example":"floor"}}}}}}}}}},"included":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"609070"},"type":{"type":"string","example":"floor"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"Floor 3"},"floor_ref_id":{"type":"string","example":"Floor_3"},"building_ref_id":{"type":"string","example":"Lake_Tahoe_Blvd"}}}}}},"links":{"type":"object","properties":{"next":{},"prev":{}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": [\n        {\n            \"status\": \"400\",\n            \"source\": {\n                \"parameter\": \"filter[local_date]\"\n            },\n            \"title\": \"Invalid Parameter\",\n            \"detail\": \"Must include local date filter\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"400"},"source":{"type":"object","properties":{"parameter":{"type":"string","example":"filter[local_date]"}}},"title":{"type":"string","example":"Invalid Parameter"},"detail":{"type":"string","example":"Must include local date filter"}}}}}}}}}},"deprecated":false}},"/metrics/hourly/buildings":{"get":{"summary":"/metrics/hourly/buildings","description":"Hourly metrics for floors","operationId":"metrics_hourly_buildings","parameters":[{"name":"sort","in":"query","description":"Comma separated list of attributes used to sort the collection. Use a negative(-) sign to reverse the order.","schema":{"type":"string","default":"-building_id,-local_date,-local_hour"}},{"name":"fields[metrics_hourly_building]","in":"query","description":"Limit attributes that are included in a request. Comma separated list of attributes.","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number for pagination.","schema":{"type":"integer","format":"int32","default":1}},{"name":"page[size]","in":"query","description":"Amount of records to return per page. Limit is 1000.","schema":{"type":"integer","format":"int32","default":250}},{"name":"filter[building_ref_id]","in":"query","description":"Filter metrics based on its associated spaces building_ref_id.","schema":{"type":"string"}},{"name":"filter[local_date][gte]","in":"query","description":"Filter metrics where local_date is greater than or equal to value.","schema":{"type":"string","format":"date","example":"2020-11-01"},"example":"2020-11-01"},{"name":"filter[local_date][lte]","in":"query","description":"Filter metrics where local_date is less than or equal to value.","schema":{"type":"string","format":"date"}},{"name":"filter[local_hour][gte]","in":"query","description":"Number between 0-23. Filter metrics where local_hour is greater than or equal to value.","schema":{"type":"integer","format":"int32","example":8},"example":8},{"name":"filter[local_hour][lte]","in":"query","description":"Number between 0-23. Filter metrics where local_hour is less than or equal to value.","schema":{"type":"integer","format":"int32","example":16},"example":16}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"id\": \"27075876\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 12,\n                \"capacity\": 207,\n                \"avg_person_count\": \"15.129722222222222246\",\n                \"avg_occupied_person_count\": \"38.7939062799782447\",\n                \"min_person_count\": 2,\n                \"minutes_actively_occupied\": \"682.06\",\n                \"minutes_passively_occupied\": \"439.46\",\n                \"space_count\": 64,\n                \"max_person_count\": 20\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9609575\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27074576\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 11,\n                \"capacity\": 207,\n                \"avg_person_count\": \"24.188055555555555755\",\n                \"avg_occupied_person_count\": \"47.3468921092580684\",\n                \"min_person_count\": 2,\n                \"minutes_actively_occupied\": \"1184.84\",\n                \"minutes_passively_occupied\": \"290.55\",\n                \"space_count\": 64,\n                \"max_person_count\": 29\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9609575\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27073681\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 10,\n                \"capacity\": 207,\n                \"avg_person_count\": \"20.814722222222222302\",\n                \"avg_occupied_person_count\": \"43.553208690739931\",\n                \"min_person_count\": 3,\n                \"minutes_actively_occupied\": \"1137.67\",\n                \"minutes_passively_occupied\": \"303.84\",\n                \"space_count\": 64,\n                \"max_person_count\": 26\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9609575\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27072733\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 9,\n                \"capacity\": 207,\n                \"avg_person_count\": \"17.480833333333333315\",\n                \"avg_occupied_person_count\": \"35.5597397862214497\",\n                \"min_person_count\": 2,\n                \"minutes_actively_occupied\": \"960.33\",\n                \"minutes_passively_occupied\": \"231.85\",\n                \"space_count\": 64,\n                \"max_person_count\": 23\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9609575\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27080097\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 12,\n                \"capacity\": 329,\n                \"avg_person_count\": \"31.905555555555555664\",\n                \"avg_occupied_person_count\": \"48.4701856575564689\",\n                \"min_person_count\": 3,\n                \"minutes_actively_occupied\": \"1396.5\",\n                \"minutes_passively_occupied\": \"271.94\",\n                \"space_count\": 51,\n                \"max_person_count\": 36\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9603129\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27078567\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 11,\n                \"capacity\": 329,\n                \"avg_person_count\": \"35.865833333333333511\",\n                \"avg_occupied_person_count\": \"54.1895980099495119\",\n                \"min_person_count\": 9,\n                \"minutes_actively_occupied\": \"1552.44\",\n                \"minutes_passively_occupied\": \"130.18\",\n                \"space_count\": 51,\n                \"max_person_count\": 43\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9603129\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27077564\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 10,\n                \"capacity\": 329,\n                \"avg_person_count\": \"36.85388888888888851\",\n                \"avg_occupied_person_count\": \"48.6681256862925836\",\n                \"min_person_count\": 9,\n                \"minutes_actively_occupied\": \"1481.01\",\n                \"minutes_passively_occupied\": \"105.05\",\n                \"space_count\": 51,\n                \"max_person_count\": 44\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9603129\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27076443\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 9,\n                \"capacity\": 329,\n                \"avg_person_count\": \"23.441111111111111629\",\n                \"avg_occupied_person_count\": \"38.0205901073172013\",\n                \"min_person_count\": 5,\n                \"minutes_actively_occupied\": \"970.6\",\n                \"minutes_passively_occupied\": \"140.18\",\n                \"space_count\": 51,\n                \"max_person_count\": 33\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9603129\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27076989\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 12,\n                \"capacity\": 192,\n                \"avg_person_count\": \"122.47388888888888817\",\n                \"avg_occupied_person_count\": \"142.4598087909779552\",\n                \"min_person_count\": 28,\n                \"minutes_actively_occupied\": \"3700.32\",\n                \"minutes_passively_occupied\": \"798.98\",\n                \"space_count\": 90,\n                \"max_person_count\": 140\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"599212\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27075906\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 11,\n                \"capacity\": 192,\n                \"avg_person_count\": \"110.8524999999999994274\",\n                \"avg_occupied_person_count\": \"141.0037470662026241\",\n                \"min_person_count\": 38,\n                \"minutes_actively_occupied\": \"3215.04\",\n                \"minutes_passively_occupied\": \"594.38\",\n                \"space_count\": 90,\n                \"max_person_count\": 128\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"599212\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27074600\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 10,\n                \"capacity\": 192,\n                \"avg_person_count\": \"88.2827777777777769396\",\n                \"avg_occupied_person_count\": \"123.7623992688745807\",\n                \"min_person_count\": 30,\n                \"minutes_actively_occupied\": \"2420.92\",\n                \"minutes_passively_occupied\": \"518.88\",\n                \"space_count\": 90,\n                \"max_person_count\": 111\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"599212\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27073712\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 9,\n                \"capacity\": 192,\n                \"avg_person_count\": \"51.548333333333332204\",\n                \"avg_occupied_person_count\": \"81.4879812743433052\",\n                \"min_person_count\": 4,\n                \"minutes_actively_occupied\": \"1546.18\",\n                \"minutes_passively_occupied\": \"326.8\",\n                \"space_count\": 90,\n                \"max_person_count\": 85\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"599212\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27062459\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 12,\n                \"capacity\": 1891,\n                \"avg_person_count\": \"271.6044444444444439304\",\n                \"avg_occupied_person_count\": \"677.690314945926248\",\n                \"min_person_count\": 25,\n                \"minutes_actively_occupied\": \"9851.89\",\n                \"minutes_passively_occupied\": \"12248.02\",\n                \"space_count\": 1026,\n                \"max_person_count\": 306\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9559363\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27061568\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 11,\n                \"capacity\": 1891,\n                \"avg_person_count\": \"362.5838888888888873003\",\n                \"avg_occupied_person_count\": \"747.6580968370733946\",\n                \"min_person_count\": 34,\n                \"minutes_actively_occupied\": \"14923.82\",\n                \"minutes_passively_occupied\": \"7510.71\",\n                \"space_count\": 1026,\n                \"max_person_count\": 421\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9559363\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27060679\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 10,\n                \"capacity\": 1891,\n                \"avg_person_count\": \"353.134166666666667273\",\n                \"avg_occupied_person_count\": \"665.3387234257168043\",\n                \"min_person_count\": 54,\n                \"minutes_actively_occupied\": \"15002.0\",\n                \"minutes_passively_occupied\": \"4183.74\",\n                \"space_count\": 1026,\n                \"max_person_count\": 410\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9559363\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27059242\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 9,\n                \"capacity\": 1891,\n                \"avg_person_count\": \"170.339722222222220338\",\n                \"avg_occupied_person_count\": \"468.4666050979293977\",\n                \"min_person_count\": 24,\n                \"minutes_actively_occupied\": \"7246.55\",\n                \"minutes_passively_occupied\": \"1866.02\",\n                \"space_count\": 1026,\n                \"max_person_count\": 280\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9559363\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        }\n    ],\n    \"included\": [\n        {\n            \"id\": \"9609575\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"BOS05\",\n                \"building_ref_id\": \"REF\",\n                \"address\": \"Burlington MA 01803\"\n            }\n        },\n        {\n            \"id\": \"9603129\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"San_Francisco\",\n                \"building_ref_id\": \"sanfrancisco\",\n                \"address\": \"SF CA\"\n            }\n        },\n        {\n            \"id\": \"599212\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"Mexico_City\",\n                \"building_ref_id\": \"Mexico\",\n                \"address\": \"Mexico\"\n            }\n        },\n        {\n            \"id\": \"9559363\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"Singapore\",\n                \"building_ref_id\": \"singapore\",\n                \"address\": \"Singapore\"\n            }\n        }\n    ],\n    \"links\": {\n        \"next\": null,\n        \"prev\": null\n    }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"27075876"},"type":{"type":"string","example":"metrics_hourly_building"},"attributes":{"type":"object","properties":{"local_date":{"type":"string","example":"2024-10-16"},"local_hour":{"type":"integer","example":12,"default":0},"capacity":{"type":"integer","example":207,"default":0},"avg_person_count":{"type":"string","example":"15.129722222222222246"},"avg_occupied_person_count":{"type":"string","example":"38.7939062799782447"},"min_person_count":{"type":"integer","example":2,"default":0},"minutes_actively_occupied":{"type":"string","example":"682.06"},"minutes_passively_occupied":{"type":"string","example":"439.46"},"space_count":{"type":"integer","example":64,"default":0},"max_person_count":{"type":"integer","example":20,"default":0}}},"relationships":{"type":"object","properties":{"building":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"9609575"},"type":{"type":"string","example":"building"}}}}}}}}}},"included":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"9609575"},"type":{"type":"string","example":"building"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"BOS05"},"building_ref_id":{"type":"string","example":"REF"},"address":{"type":"string","example":"Burlington MA 01803"}}}}}},"links":{"type":"object","properties":{"next":{},"prev":{}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": [\n        {\n            \"status\": \"400\",\n            \"source\": {\n                \"parameter\": \"filter[local_date]\"\n            },\n            \"title\": \"Invalid Parameter\",\n            \"detail\": \"Must include local date filter\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"400"},"source":{"type":"object","properties":{"parameter":{"type":"string","example":"filter[local_date]"}}},"title":{"type":"string","example":"Invalid Parameter"},"detail":{"type":"string","example":"Must include local date filter"}}}}}}}}}},"deprecated":false}},"/metrics/hourly/neighborhoods":{"get":{"summary":"/metrics/hourly/neighborhoods","description":"Hourly metrics for neighborhoods","operationId":"metrics-hourly-neighborhoods","parameters":[{"name":"sort","in":"query","description":"Comma separated list of attributes used to sort the collection. Use a negative(-) sign to reverse the order.","schema":{"type":"string","default":"-neighborhood_id,-local_date,-local_hour"}},{"name":"fields[metrics_hourly_building]","in":"query","description":"Limit attributes that are included in a request. Comma separated list of attributes.","schema":{"type":"string"}},{"name":"page[number]","in":"query","description":"Page number for pagination.","schema":{"type":"integer","format":"int32","default":1}},{"name":"page[size]","in":"query","description":"Amount of records to return per page. Limit is 1000.","schema":{"type":"integer","format":"int32","default":250}},{"name":"filter[ref_id]","in":"query","description":"Filter metrics for a specific neighborhood","schema":{"type":"string"}},{"name":"filter[local_date][gte]","in":"query","description":"Filter metrics where local_date is greater than or equal to value.","schema":{"type":"string","format":"date","example":"2020-11-01"},"example":"2020-11-01"},{"name":"filter[local_date][lte]","in":"query","description":"Filter metrics where local_date is less than or equal to value.","schema":{"type":"string","format":"date"}},{"name":"filter[local_hour][gte]","in":"query","description":"Number between 0-23. Filter metrics where local_hour is greater than or equal to value.","schema":{"type":"integer","format":"int32","example":8},"example":8},{"name":"filter[local_hour][lte]","in":"query","description":"Number between 0-23. Filter metrics where local_hour is less than or equal to value.","schema":{"type":"integer","format":"int32","example":16},"example":16}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"id\": \"27075876\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 12,\n                \"capacity\": 207,\n                \"avg_person_count\": \"15.129722222222222246\",\n                \"avg_occupied_person_count\": \"38.7939062799782447\",\n                \"min_person_count\": 2,\n                \"minutes_actively_occupied\": \"682.06\",\n                \"minutes_passively_occupied\": \"439.46\",\n                \"space_count\": 64,\n                \"max_person_count\": 20\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9609575\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27074576\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 11,\n                \"capacity\": 207,\n                \"avg_person_count\": \"24.188055555555555755\",\n                \"avg_occupied_person_count\": \"47.3468921092580684\",\n                \"min_person_count\": 2,\n                \"minutes_actively_occupied\": \"1184.84\",\n                \"minutes_passively_occupied\": \"290.55\",\n                \"space_count\": 64,\n                \"max_person_count\": 29\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9609575\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27073681\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 10,\n                \"capacity\": 207,\n                \"avg_person_count\": \"20.814722222222222302\",\n                \"avg_occupied_person_count\": \"43.553208690739931\",\n                \"min_person_count\": 3,\n                \"minutes_actively_occupied\": \"1137.67\",\n                \"minutes_passively_occupied\": \"303.84\",\n                \"space_count\": 64,\n                \"max_person_count\": 26\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9609575\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27072733\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 9,\n                \"capacity\": 207,\n                \"avg_person_count\": \"17.480833333333333315\",\n                \"avg_occupied_person_count\": \"35.5597397862214497\",\n                \"min_person_count\": 2,\n                \"minutes_actively_occupied\": \"960.33\",\n                \"minutes_passively_occupied\": \"231.85\",\n                \"space_count\": 64,\n                \"max_person_count\": 23\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9609575\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27080097\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 12,\n                \"capacity\": 329,\n                \"avg_person_count\": \"31.905555555555555664\",\n                \"avg_occupied_person_count\": \"48.4701856575564689\",\n                \"min_person_count\": 3,\n                \"minutes_actively_occupied\": \"1396.5\",\n                \"minutes_passively_occupied\": \"271.94\",\n                \"space_count\": 51,\n                \"max_person_count\": 36\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9603129\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27078567\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 11,\n                \"capacity\": 329,\n                \"avg_person_count\": \"35.865833333333333511\",\n                \"avg_occupied_person_count\": \"54.1895980099495119\",\n                \"min_person_count\": 9,\n                \"minutes_actively_occupied\": \"1552.44\",\n                \"minutes_passively_occupied\": \"130.18\",\n                \"space_count\": 51,\n                \"max_person_count\": 43\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9603129\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27077564\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 10,\n                \"capacity\": 329,\n                \"avg_person_count\": \"36.85388888888888851\",\n                \"avg_occupied_person_count\": \"48.6681256862925836\",\n                \"min_person_count\": 9,\n                \"minutes_actively_occupied\": \"1481.01\",\n                \"minutes_passively_occupied\": \"105.05\",\n                \"space_count\": 51,\n                \"max_person_count\": 44\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9603129\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27076443\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 9,\n                \"capacity\": 329,\n                \"avg_person_count\": \"23.441111111111111629\",\n                \"avg_occupied_person_count\": \"38.0205901073172013\",\n                \"min_person_count\": 5,\n                \"minutes_actively_occupied\": \"970.6\",\n                \"minutes_passively_occupied\": \"140.18\",\n                \"space_count\": 51,\n                \"max_person_count\": 33\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9603129\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27076989\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 12,\n                \"capacity\": 192,\n                \"avg_person_count\": \"122.47388888888888817\",\n                \"avg_occupied_person_count\": \"142.4598087909779552\",\n                \"min_person_count\": 28,\n                \"minutes_actively_occupied\": \"3700.32\",\n                \"minutes_passively_occupied\": \"798.98\",\n                \"space_count\": 90,\n                \"max_person_count\": 140\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"599212\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27075906\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 11,\n                \"capacity\": 192,\n                \"avg_person_count\": \"110.8524999999999994274\",\n                \"avg_occupied_person_count\": \"141.0037470662026241\",\n                \"min_person_count\": 38,\n                \"minutes_actively_occupied\": \"3215.04\",\n                \"minutes_passively_occupied\": \"594.38\",\n                \"space_count\": 90,\n                \"max_person_count\": 128\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"599212\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27074600\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 10,\n                \"capacity\": 192,\n                \"avg_person_count\": \"88.2827777777777769396\",\n                \"avg_occupied_person_count\": \"123.7623992688745807\",\n                \"min_person_count\": 30,\n                \"minutes_actively_occupied\": \"2420.92\",\n                \"minutes_passively_occupied\": \"518.88\",\n                \"space_count\": 90,\n                \"max_person_count\": 111\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"599212\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27073712\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 9,\n                \"capacity\": 192,\n                \"avg_person_count\": \"51.548333333333332204\",\n                \"avg_occupied_person_count\": \"81.4879812743433052\",\n                \"min_person_count\": 4,\n                \"minutes_actively_occupied\": \"1546.18\",\n                \"minutes_passively_occupied\": \"326.8\",\n                \"space_count\": 90,\n                \"max_person_count\": 85\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"599212\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27062459\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 12,\n                \"capacity\": 1891,\n                \"avg_person_count\": \"271.6044444444444439304\",\n                \"avg_occupied_person_count\": \"677.690314945926248\",\n                \"min_person_count\": 25,\n                \"minutes_actively_occupied\": \"9851.89\",\n                \"minutes_passively_occupied\": \"12248.02\",\n                \"space_count\": 1026,\n                \"max_person_count\": 306\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9559363\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27061568\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 11,\n                \"capacity\": 1891,\n                \"avg_person_count\": \"362.5838888888888873003\",\n                \"avg_occupied_person_count\": \"747.6580968370733946\",\n                \"min_person_count\": 34,\n                \"minutes_actively_occupied\": \"14923.82\",\n                \"minutes_passively_occupied\": \"7510.71\",\n                \"space_count\": 1026,\n                \"max_person_count\": 421\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9559363\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27060679\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 10,\n                \"capacity\": 1891,\n                \"avg_person_count\": \"353.134166666666667273\",\n                \"avg_occupied_person_count\": \"665.3387234257168043\",\n                \"min_person_count\": 54,\n                \"minutes_actively_occupied\": \"15002.0\",\n                \"minutes_passively_occupied\": \"4183.74\",\n                \"space_count\": 1026,\n                \"max_person_count\": 410\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9559363\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"27059242\",\n            \"type\": \"metrics_hourly_building\",\n            \"attributes\": {\n                \"local_date\": \"2024-10-16\",\n                \"local_hour\": 9,\n                \"capacity\": 1891,\n                \"avg_person_count\": \"170.339722222222220338\",\n                \"avg_occupied_person_count\": \"468.4666050979293977\",\n                \"min_person_count\": 24,\n                \"minutes_actively_occupied\": \"7246.55\",\n                \"minutes_passively_occupied\": \"1866.02\",\n                \"space_count\": 1026,\n                \"max_person_count\": 280\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"9559363\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        }\n    ],\n    \"included\": [\n        {\n            \"id\": \"9609575\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"BOS05\",\n                \"building_ref_id\": \"REF\",\n                \"address\": \"Burlington MA 01803\"\n            }\n        },\n        {\n            \"id\": \"9603129\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"San_Francisco\",\n                \"building_ref_id\": \"sanfrancisco\",\n                \"address\": \"SF CA\"\n            }\n        },\n        {\n            \"id\": \"599212\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"Mexico_City\",\n                \"building_ref_id\": \"Mexico\",\n                \"address\": \"Mexico\"\n            }\n        },\n        {\n            \"id\": \"9559363\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"Singapore\",\n                \"building_ref_id\": \"singapore\",\n                \"address\": \"Singapore\"\n            }\n        }\n    ],\n    \"links\": {\n        \"next\": null,\n        \"prev\": null\n    }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"27075876"},"type":{"type":"string","example":"metrics_hourly_building"},"attributes":{"type":"object","properties":{"local_date":{"type":"string","example":"2024-10-16"},"local_hour":{"type":"integer","example":12,"default":0},"capacity":{"type":"integer","example":207,"default":0},"avg_person_count":{"type":"string","example":"15.129722222222222246"},"avg_occupied_person_count":{"type":"string","example":"38.7939062799782447"},"min_person_count":{"type":"integer","example":2,"default":0},"minutes_actively_occupied":{"type":"string","example":"682.06"},"minutes_passively_occupied":{"type":"string","example":"439.46"},"space_count":{"type":"integer","example":64,"default":0},"max_person_count":{"type":"integer","example":20,"default":0}}},"relationships":{"type":"object","properties":{"building":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"9609575"},"type":{"type":"string","example":"building"}}}}}}}}}},"included":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"9609575"},"type":{"type":"string","example":"building"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"BOS05"},"building_ref_id":{"type":"string","example":"REF"},"address":{"type":"string","example":"Burlington MA 01803"}}}}}},"links":{"type":"object","properties":{"next":{},"prev":{}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": [\n        {\n            \"status\": \"400\",\n            \"source\": {\n                \"parameter\": \"filter[local_date]\"\n            },\n            \"title\": \"Invalid Parameter\",\n            \"detail\": \"Must include local date filter\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"400"},"source":{"type":"object","properties":{"parameter":{"type":"string","example":"filter[local_date]"}}},"title":{"type":"string","example":"Invalid Parameter"},"detail":{"type":"string","example":"Must include local date filter"}}}}}}}}}},"deprecated":false}},"/buildings":{"get":{"summary":"/buildings","description":"Get a list of buildings that VergeSense has data on.","operationId":"buildings-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"name\": \"HQ 1\",\n    \"building_ref_id\": \"HQ1\",\n    \"address\": \"925 Commonwealth Avenue, Boston, MA 02215\",\n    \"working_hours\": {\n  \t\t\"from\": 8,\n      \"to\": 18\n  \t},\n    \"timezone\": \"America/New_York\"\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"HQ 1"},"building_ref_id":{"type":"string","example":"HQ1"},"address":{"type":"string","example":"925 Commonwealth Avenue, Boston, MA 02215"},"working_hours":{"type":"object","properties":{"from":{"type":"integer","example":8,"default":0},"to":{"type":"integer","example":18,"default":0}}},"timezone":{"type":"string","example":"America/New_York"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/buildings/{building_ref_id}":{"get":{"summary":"/buildings/:building_ref_id","description":"Get information about the hierarchy of a building, down to the VergeSense sensor level.","operationId":"buildings-2","parameters":[{"name":"floor_ref_id","in":"query","schema":{"type":"string"}},{"name":"building_ref_id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"building_ref_id\": \"HQ1\",\n  \"capacity\": 84,\n  \"minimum_social_distance\": 2.0,\n  \"working_hours\": {\n  \t\"from\": 8,\n    \"to\": 18\n  },\n  \"floors\": [\n    {\n      \"name\": \"Floor 1\",\n      \"floor_ref_id\": \"FL1\",\n      \"capacity\": 84,\n      \"max_capacity\": 60,\n      \"spaces\": [\n        {\n          \"name\": \"Conference Room 0721\",\n          \"space_ref_id\": \"CR_0721\",\n          \"space_type\": \"conference_room\",\n          \"capacity\": 4,\n          \"max_capacity\": 3,\n          \"sensors\": [\n            {\n              \"id\": \"L_000018\",\n              \"partitions\": [\n                {\n                  \"id\": \"L_000018/321\"\n                }\n              ]\n            }\n          ],\n          \"geometry\": {\n            \"type\": \"Polygon\",\n            \"coordinates\": [\n              [\n                [\n                  93.850772,\n                  44.676952\n                ],\n                [\n                  93.850739,\n                  44.676929\n                ],\n                [\n                  93.850718,\n                  44.67695\n                ],\n                [\n                  93.850751,\n                  44.676973\n                ],\n                [\n                  93.850772,\n                  44.676952\n                ],\n                [\n                  93.850772,\n                  44.676952\n                ]\n              ]\n            ]\n          },\n          \"space_groups\": [\n            {\n            \t\"name\": \"Finance\"\n            },\n            {\n            \t\"name\": \"Dedicated Space\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"building_ref_id":{"type":"string","example":"HQ1"},"capacity":{"type":"integer","example":84,"default":0},"minimum_social_distance":{"type":"integer","example":2,"default":0},"working_hours":{"type":"object","properties":{"from":{"type":"integer","example":8,"default":0},"to":{"type":"integer","example":18,"default":0}}},"floors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Floor 1"},"floor_ref_id":{"type":"string","example":"FL1"},"capacity":{"type":"integer","example":84,"default":0},"max_capacity":{"type":"integer","example":60,"default":0},"spaces":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Conference Room 0721"},"space_ref_id":{"type":"string","example":"CR_0721"},"space_type":{"type":"string","example":"conference_room"},"capacity":{"type":"integer","example":4,"default":0},"max_capacity":{"type":"integer","example":3,"default":0},"sensors":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"L_000018"},"partitions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"L_000018/321"}}}}}}},"geometry":{"type":"object","properties":{"type":{"type":"string","example":"Polygon"},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number","example":93.850772,"default":0}}}}}},"space_groups":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Finance"}}}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/buildings/{building_ref_id}/history":{"get":{"summary":"/buildings/:building_ref_id/history","description":"","operationId":"buildingsbuilding_ref_idhistory","parameters":[{"name":"building_ref_id","in":"path","schema":{"type":"string"},"required":true},{"name":"start_timestamp","in":"query","description":"ISO8601 timestamp. Filter results where the `timestamp` is equal or greater than this value. Ex: `2021-10-01T08:00:00Z`","required":true,"schema":{"type":"string"}},{"name":"end_timestamp","in":"query","description":"ISO8601 timestamp. Filter results where the `timestamp` is less than this value. The time range cannot be greater than 24 hours. Ex: `2021-10-01T09:00:00Z`","required":true,"schema":{"type":"string"}},{"name":"floor_ref_id","in":"query","schema":{"type":"string"}},{"name":"space_ref_id","in":"query","schema":{"type":"string"}},{"name":"space_type","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"floor_ref_id\": \"FLOOR-123\",\n    \"space_ref_id\": \"SPACE-123\",\n    \"history\": [\n      {\n        \"timestamp\": \"2020-02-18T20:34:14Z\",\n        \"count\": 1,\n        \"signs_of_life\": null\n      },\n      {\n        \"timestamp\": \"2020-02-18T20:44:18Z\",\n        \"count\": 2,\n        \"signs_of_life\": true\n      },\n      {\n        \"timestamp\": \"2020-02-18T20:54:23Z\",\n        \"count\": 1,\n        \"signs_of_life\": true\n      }\n    ]\n  }\n]\n"}},"schema":{"type":"array","items":{"type":"object","properties":{"floor_ref_id":{"type":"string","example":"FLOOR-123"},"space_ref_id":{"type":"string","example":"SPACE-123"},"history":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","example":"2020-02-18T20:34:14Z"},"count":{"type":"integer","example":1,"default":0},"signs_of_life":{}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\"Cannot exceed maximum time range of 24hrs\"]\n}\n"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string","example":"Cannot exceed maximum time range of 24hrs"}}}}}}}},"deprecated":false}},"/spaces":{"get":{"summary":"/spaces","description":"Get the most recent sensor reports for spaces.","operationId":"spaces-1","parameters":[{"name":"building_ref_id","in":"query","description":"Filter on `building_ref_id` to get only the spaces belonging to a particular building.","schema":{"type":"string"}},{"name":"floor_ref_id","in":"query","description":"Filter on `floor_ref_id` to get only the spaces belonging to a particular floor.","schema":{"type":"string"}},{"name":"space_ref_id","in":"query","description":"Filter on `space_ref_id` to get a single space.","schema":{"type":"string"}},{"name":"space_type","in":"query","description":"Filter on any space type \"key\" value returned from the \"/spaces/types\" API endpoint. Example: `conference_room`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n    {\n        \"building_ref_id\": \"Building_1\",\n        \"floor_ref_id\": \"Floor_2\",\n        \"space_ref_id\": \"432.3\",\n        \"name\": \"Office 432.3\",\n        \"space_type\": \"office\",\n        \"last_reports\": [\n            {\n                \"id\": \"W91-IGI\",\n                \"person_count\": 2,\n                \"signs_of_life\": null,\n                \"motion_detected\": null,\n                \"timestamp\": \"2019-07-29T18:42:19Z\"\n            }\n        ],\n        \"people\": {\n            \"count\": 2,\n            \"distances\": {\n                \"units\": \"meters\",\n                \"values\": [2.42]\n            }\n        },\n        \"environment\": {\n            \"sensor\": \"W91-IGI\",\n            \"timestamp\": \"2019-07-29T18:42:19Z\",\n            \"humidity\": {\n                \"units\": \"RH\",\n                \"value\": 71.43\n            },\n            \"iaq\": {\n                \"units\": \"UBA\",\n                \"value\": 3.98\n            },\n            \"temperature\": {\n                \"units\": \"C\",\n                \"value\": 17.77\n            }\n        }\n    }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"building_ref_id":{"type":"string","example":"Building_1"},"floor_ref_id":{"type":"string","example":"Floor_2"},"space_ref_id":{"type":"string","example":"432.3"},"name":{"type":"string","example":"Office 432.3"},"space_type":{"type":"string","example":"office"},"last_reports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"W91-IGI"},"person_count":{"type":"integer","example":2,"default":0},"signs_of_life":{},"motion_detected":{},"timestamp":{"type":"string","example":"2019-07-29T18:42:19Z"}}}},"people":{"type":"object","properties":{"count":{"type":"integer","example":2,"default":0},"distances":{"type":"object","properties":{"units":{"type":"string","example":"meters"},"values":{"type":"array","items":{"type":"number","example":2.42,"default":0}}}}}},"environment":{"type":"object","properties":{"sensor":{"type":"string","example":"W91-IGI"},"timestamp":{"type":"string","example":"2019-07-29T18:42:19Z"},"humidity":{"type":"object","properties":{"units":{"type":"string","example":"RH"},"value":{"type":"number","example":71.43,"default":0}}},"iaq":{"type":"object","properties":{"units":{"type":"string","example":"UBA"},"value":{"type":"number","example":3.98,"default":0}}},"temperature":{"type":"object","properties":{"units":{"type":"string","example":"C"},"value":{"type":"number","example":17.77,"default":0}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/spaces/detections":{"get":{"summary":"/spaces/detections","description":"Fetch all detections for spaces on a given day.\nResponse conforms to the JSON API spec https://jsonapi.org/.\nResponses are limited to `10,000` detections after which pagination will take place.","operationId":"spaces_detections","parameters":[{"name":"date","in":"query","description":"Date to fetch thresholds crossings for. Date is required unless a timestamp filter query parameter is provided.","schema":{"type":"string","format":"date"}},{"name":"space_id","in":"query","description":"The space e.g. building, floor, room that the detection was reported for","schema":{"type":"integer","format":"int32"}},{"name":"filter[timestamp][gte]","in":"query","description":"Greater than or equal to the timestamp.","schema":{"type":"string","format":"date-time"}},{"name":"filter[timestamp][gt]","in":"query","description":"Greater than the timestamp.","schema":{"type":"string","format":"date-time"}},{"name":"filter[timestamp][lte]","in":"query","description":"Less than or equal to the timestamp.","schema":{"type":"string","format":"date-time"}},{"name":"filter[timestamp][lt]","in":"query","description":"Less than the timestamp.","schema":{"type":"string","format":"date-time"}},{"name":"filter[count][gt]","in":"query","description":"Greater than the count of people detected.","schema":{"type":"integer","format":"int32"}},{"name":"filter[signs_of_life][eq]","in":"query","description":"Equal to the signs of life.","schema":{"type":"boolean"}},{"name":"page[number]","in":"query","description":"Requested page number. Only used when pagination is applicable.","schema":{"type":"integer","format":"int32","default":1}},{"name":"vs-api-key","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"id\": \"356161|2021-12-02 00:05:21.833\",\n            \"type\": \"space_detection\",\n            \"attributes\": {\n                \"space_id\": \"356161\",\n                \"timestamp\": \"2021-12-02 00:05:21.833\",\n                \"count\": 0,\n                \"signs_of_life\": 0\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"356161\",\n                        \"type\": \"building\"\n                    }\n                }\n            }\n        },\n        {\n          \"id\": \"364220|2021-12-02 00:04:27.210\",\n          \"type\": \"space_detection\",\n          \"attributes\": {\n              \"space_id\": \"364220\",\n              \"timestamp\": \"2021-12-02 00:04:27.210\",\n              \"count\": 1,\n              \"signs_of_life\": null\n          },\n          \"relationships\": {\n              \"floor\": {\n                  \"data\": {\n                      \"id\": \"364220\",\n                      \"type\": \"floor\"\n                  }\n              }\n          }\n        },  \n        {\n          \"id\": \"364221|2021-12-02 00:05:35.966\",\n          \"type\": \"space_detection\",\n          \"attributes\": {\n              \"space_id\": \"364221\",\n              \"timestamp\": \"2021-12-02 00:05:35.966\",\n              \"count\": 0,\n              \"signs_of_life\": null\n          },\n          \"relationships\": {\n              \"space\": {\n                  \"data\": {\n                      \"id\": \"364221\",\n                      \"type\": \"space\"\n                  }\n              }\n          }\n        }\n    ],\n    \"included\": [\n        {\n            \"id\": \"356161\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"Building 1\",\n                \"building_ref_id\": \"B01\"\n            }\n        },\n        {\n            \"id\": \"364220\",\n            \"type\": \"floor\",\n            \"attributes\": {\n                \"name\": \"Floor 5\",\n                \"floor_ref_id\": \"05\"\n            }\n        },\n        {\n            \"id\": \"364221\",\n            \"type\": \"space\",\n            \"attributes\": {\n                \"name\": \"Conference Room 1\",\n                \"space_ref_id\": \"CR1\"\n            }\n        }\n    ],\n    \"links\": {\n        \"next\": \"/spaces/detections?date=2021-10-29&page[number]=3&page[size]=2\",\n        \"prev\": null\n    }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"356161|2021-12-02 00:05:21.833"},"type":{"type":"string","example":"space_detection"},"attributes":{"type":"object","properties":{"space_id":{"type":"string","example":"356161"},"timestamp":{"type":"string","example":"2021-12-02 00:05:21.833"},"count":{"type":"integer","example":0,"default":0},"signs_of_life":{"type":"integer","example":0,"default":0}}},"relationships":{"type":"object","properties":{"building":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"356161"},"type":{"type":"string","example":"building"}}}}}}}}}},"included":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"356161"},"type":{"type":"string","example":"building"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"Building 1"},"building_ref_id":{"type":"string","example":"B01"}}}}}},"links":{"type":"object","properties":{"next":{"type":"string","example":"/spaces/detections?date=2021-10-29&page[number]=3&page[size]=2"},"prev":{}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/spaces/thresholds/crossings":{"get":{"summary":"/spaces/thresholds/crossings","description":"Fetch all threshold crossings for spaces on a given day.\nResponse conforms to the JSON API spec https://jsonapi.org/.\nResponses are limited to `1,000` threshold crossings after which pagination will take place.","operationId":"spaces_thresholds_crossings","parameters":[{"name":"date","in":"query","description":"Date to fetch thresholds crossings for. Date is required unless a timestamp filter query parameter is provided.","schema":{"type":"string","format":"date"}},{"name":"filter[timestamp][gte]","in":"query","description":"Greater than or equal to the timestamp.","schema":{"type":"string","format":"date-time"}},{"name":"filter[timestamp][lte]","in":"query","description":"Greater than the timestamp.","schema":{"type":"string","format":"date-time"}},{"name":"filter[timestamp][gt]","in":"query","description":"Less than or equal to the timestamp.","schema":{"type":"string","format":"date-time"}},{"name":"filter[timestamp][lt]","in":"query","description":"Less than the timestamp.","schema":{"type":"string","format":"date-time"}},{"name":"page[number]","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"vs-api-key","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Building Crossings":{"value":"{\n    \"data\": [\n        {\n            \"id\": \"422713|86|2021-10-29T00:00:27.000Z\",\n            \"type\": \"space_threshold_crossing\",\n            \"attributes\": {\n                \"space_id\": \"422713\",\n                \"threshold_id\": \"86\",\n                \"timestamp\": \"2021-10-29T00:00:27.000Z\",\n                \"direction\": \"in\"\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"422713\",\n                        \"type\": \"building\"\n                    }\n                },\n                \"threshold\": {\n                    \"data\": {\n                        \"id\": \"86\",\n                        \"type\": \"threshold\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"422713|86|2021-10-29T00:00:28.000Z\",\n            \"type\": \"space_threshold_crossing\",\n            \"attributes\": {\n                \"space_id\": \"422713\",\n                \"threshold_id\": \"86\",\n                \"timestamp\": \"2021-10-29T00:00:28.000Z\",\n                \"direction\": \"in\"\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"422713\",\n                        \"type\": \"building\"\n                    }\n                },\n                \"threshold\": {\n                    \"data\": {\n                        \"id\": \"86\",\n                        \"type\": \"threshold\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"422713|86|2021-10-29T00:00:29.000Z\",\n            \"type\": \"space_threshold_crossing\",\n            \"attributes\": {\n                \"space_id\": \"422713\",\n                \"threshold_id\": \"86\",\n                \"timestamp\": \"2021-10-29T00:00:29.000Z\",\n                \"direction\": \"out\"\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"422713\",\n                        \"type\": \"building\"\n                    }\n                },\n                \"threshold\": {\n                    \"data\": {\n                        \"id\": \"86\",\n                        \"type\": \"threshold\"\n                    }\n                }\n            }\n        }\n    ],\n    \"included\": [\n        {\n            \"id\": \"86\",\n            \"type\": \"threshold\",\n            \"attributes\": {\n                \"external_name\": \"Line 0\",\n                \"external_id\": \"0\"\n            }\n        },\n        {\n            \"id\": \"422713\",\n            \"type\": \"building\",\n            \"attributes\": {\n                \"name\": \"Building 1\",\n                \"building_ref_id\": \"B1\"\n            }\n        }\n    ],\n    \"links\": {\n        \"next\": null,\n        \"prev\": null\n    }\n}"},"Building and Floor Crossings":{"value":"{\n    \"data\": [\n        {\n            \"id\": \"422713|86|2021-10-29T00:00:27.000Z\",\n            \"type\": \"space_threshold_crossing\",\n            \"attributes\": {\n                \"space_id\": \"422713\",\n                \"threshold_id\": \"86\",\n                \"timestamp\": \"2021-10-29T00:00:27.000Z\",\n                \"direction\": \"in\"\n            },\n            \"relationships\": {\n                \"building\": {\n                    \"data\": {\n                        \"id\": \"422713\",\n                        \"type\": \"building\"\n                    }\n                },\n                \"threshold\": {\n                    \"data\": {\n                        \"id\": \"86\",\n                        \"type\": \"threshold\"\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"426305|86|2021-10-29T00:00:27.000Z\",\n            \"type\": \"space_threshold_crossing\",\n            \"attributes\": {\n                \"space_id\": \"426305\",\n                \"threshold_id\": \"86\",\n                \"timestamp\": \"2021-10-29T00:00:27.000Z\",\n                \"direction\": \"in\"\n            },\n            \"relationships\": {\n                \"floor\": {\n                    \"data\": {\n                        \"id\": \"426305\",\n            
[...]
